<h1> Part 1 - Assignment week 3 - Toronto</h1>

<h5> Importing the pandas library</h5>

In [6]:
import pandas as pd

<h5> Reading the postal codes into a pandas dataframe</h5>

In [7]:
df=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]
df.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor
7      M7A  Downtown Toronto      Queen's Park
8      M8A      Not assigned      Not assigned
9      M9A      Queen's Park      Not assigned

<h5> Creating a new dataframe without the "Not assigned" values </h5>

In [8]:
# i assumed that i could make a new dataframe with specifying that "not assigned" would not appear in column borough. 
dfna= df[df.Borough != 'Not assigned']

In [10]:
dfna.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A  Downtown Toronto      Queen's Park
9       M9A      Queen's Park      Not assigned
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

In [13]:
#first i group the dfwna by postcode and borough, then i group the neighbourhoods per Borough in one column. 
dfna =dfna.groupby(['Postcode','Borough'])
dfna=dfna['Neighbourhood'].apply(', '.join).reset_index() 
dfna.head(10)

  Postcode      Borough                                    Neighbourhood
0      M1B  Scarborough                                   Rouge, Malvern
1      M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough                Guildwood, Morningside, West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7      M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8      M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9      M1N  Scarborough                      Birch Cliff, Cliffside West

<h5> Iterating through the dataframe and assigning values of boroughs to neighbourhoods if they are not assigned. </h5>

In [14]:
for i in range(len(dfna)):
    if dfna['Neighbourhood'].iloc[i] =='Not assigned':
        dfna['Neighbourhood'].iloc[i]= dfna['Borough'].iloc[i]
        
dfna

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Rouge, Malvern
1        M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

<h5> Printing the shape</h5>

In [18]:
dfna.shape

(103, 3)

<h5> saving the table as csv, when i later want to use it again</h5>

In [19]:
dfna.to_csv('Part 1 - Assignment week 3 - Data science capstone project')